# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.venv
venv/
ENV/

# Environment Variables
.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# Flutter & Dart
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/

# Android
**/android/**/gradle-wrapper.jar
**/.gradle/
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/local.properties
**/android/**/GeneratedPluginRegistrant.java

# macOS & OS metadata
.DS_Store
Thumbs.db
